.photoBox{
    padding:10%;
}
.photo{
    width:200px;
    height:200px;
    border-radius:50%;
    
}
.leftBox{
    padding:2%;
    width:25%;
    height:1000px;
    background-color:#FADBD8 ;
    box-shadow: 5px 10px #e9d5d5;
    float:left;
}
.logo{
    float:left;
    margin:10px;
}
.rightbox{
    float:right;
    background-color:#FADBD8 ;
    box-shadow:5px 10px #f0c9c9 ;
    margin-left:10px;
    width:70%;
}
.videobox{
    padding:5px;
    background-color: rgb(165, 165, 235);
    width:30%;
    float:left;
    margin:10px;
    height:50%;
}

@media only screen and (max-width: 768px) {
.leftBox{
    width:100%;
    height:40%;
}
.videobox{
    width:100%;
}
.rightbox{
    width:100%;
}

}

